footer.l-footer
            .l-footer-inner
                .l-footer__flex 
                    .l-footer__left
                    .l-footer__center
                    .l-footer__right
            .l-footer-copy &copy; Alredy compaile pug |  2024 - 12 - 27 | Sigeki Murao