header.l-header#header
            h1.l-site-logo サイトロゴ
            nav.nav 
                ul.global-menus 
                    li
                        a(href="#") HOME
                    li
                        a(href="#") About
                    li
                        a(href="#") Service
                    li
                        a(href="#") News