doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title || "デフォルトタイトル"}
    link(rel="stylesheet", href="/styles.css")
  body
    include header.pug
    main.l-main
      block content
    include sidebar.pug
    include footer.pug
